.container {
    display: flex;
    justify-content: space-between;
}

.createPostForm {
    margin: 10px;
    height: 100%;
}

.textarea {
    font-size: 25px;
    padding: 5px;
    height: 50px;
    width: 80%;
    resize: none;
}

.newPost{
    width: 40%;
}

.newTitle {
    width: 30%;
}


.addPostButton {
    color: whitesmoke;
    cursor: pointer;
    width: 20%;
    height: 60px;
    background-color: green;
}